:root {
    --height-h: 30px;
}
.wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22);
}
.progress_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--height-h);
    width: 100%;
    background: rgb(33, 33, 33);
}
.progress_bar .completed {
    position: absolute;
    top: calc(50% - 35%);
    transition: all 2000ms;
    left: 0px;
    width: 0px;
    height: 70%;
    border-radius: 0 2px 2px 0;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(122, 122, 122);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.canvas {
    position: absolute;
    top: var(--height-h);
    left: 0px;
    height: calc(100% - var(--height-h));
    width: 100%;
}
